@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-weight: 300;
        font-style: normal;
        src: url(/fonts/league-spartan.woff2) format('woff2');
    }
}
